In [135]:
import pandas as pd 
import numpy as np
import os.path

pd.set_option("display.max_rows",30)
pd.set_option("display.max_columns", None)
pd.set_option('precision', 5)

In [136]:
np.__version__
!ls

1_pandas_jeopardy_example.ipynb jeopardy.csv
2_pandas_olive_questions.ipynb  olive.csv
PythonPandasAnswers.ipynb

In [137]:
DATA_DIR = os.path.join("olive.csv")
df = pd.read_csv(os.path.join(DATA_DIR))
df.head()

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46

In [138]:
df_shape = df.shape

In [139]:
df_shape

(572, 11)

In [140]:
df_first_2 = df[0:2]
df_first_2

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29

In [141]:
df.dtypes

Unnamed: 0     object
region          int64
area            int64
palmitic        int64
palmitoleic     int64
stearic         int64
oleic           int64
linoleic        int64
linolenic       int64
arachidic       int64
eicosenoic      int64
dtype: object

In [142]:
df['sub_region_raw'] = df['Unnamed: 0']
df.head()

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29,3.North-Apulia
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35,4.North-Apulia
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46,5.North-Apulia

In [143]:
df.rename(columns={'Unnamed: 0':'sub_region_desc'}, inplace=True)
df.head()

,sub_region_desc,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29,3.North-Apulia
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35,4.North-Apulia
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46,5.North-Apulia

In [144]:
df.rename(columns={'area':'sub_region'}, inplace=True)

In [145]:
df.head()

,sub_region_desc,region,sub_region,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29,3.North-Apulia
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35,4.North-Apulia
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46,5.North-Apulia

In [146]:
df.region.unique()

array([1, 2, 3])

In [147]:
df.sub_region.unique()

array([1, 2, 3, 4, 5, 6, 9, 7, 8])

In [148]:
df['sub_region_desc_'] = df.sub_region_desc.str[2:]
df.head(100)

,sub_region_desc,region,sub_region,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw,sub_region_desc_
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia,North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia,North-Apulia
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29,3.North-Apulia,North-Apulia
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35,4.North-Apulia,North-Apulia
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46,5.North-Apulia,North-Apulia
5,6.North-Apulia,1,1,911,49,268,7924,678,51,70,44,6.North-Apulia,North-Apulia
6,7.North-Apulia,1,1,922,66,264,7990,618,49,56,29,7.North-Apulia,North-Apulia
7,8.North-Apulia,1,1,1100,61,235,7728,734,39,64,35,8.North-Apulia,North-Apulia
8,9.North-Apulia,1,1,1082,60,239,7745,709,46,83,33,9.North-Apulia,North-Apulia
9,10.North-Apulia,1,1,1037,55,213,7944,633,26,52,30,10.North-Apulia,.North-Apulia
10,11.North-Apulia,1,1,1051,35,219,7978,605,21,65,24,11.North-Apulia,.North-Apulia
11,12.North-Apulia,1,1,1036,59,235,7868,661,30,62,44,12.North-Apulia,.North-Apulia
12,13.North-Apulia,1,1,1074,70,214,7728,747,50,79,33,13.North-Apulia,.North-Apulia
13,14.North-Apulia,1,1,875,52,243,8018,655,41,79,32,14.North-Apulia,.North-Apulia
14,15.North-Apulia,1,1,952,49,254,7795,780,50,75,41,15.North-Apulia,.North-Apulia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86.South-Apulia,1,3,1384,178,208,7105,999,29,67,26,86.South-Apulia,.South-Apulia
86,87.South-Apulia,1,3,1412,185,217,6842,1203,34,72,32,87.South-Apulia,.South-Apulia
87,88.South-Apulia,1,3,1410,232,280,6715,1233,32,60,24,88.South-Apulia,.South-Apulia
88,89.South-Apulia,1,3,1509,209,257,6647,1240,42,62,30,89.South-Apulia,.South-Apulia
89,90.South-Apulia,1,3,1317,197,256,7036,1067,40,60,22,90.South-Apulia,.South-Apulia
90,91.South-Apulia,1,3,1286,192,203,7132,1053,38,65,28,91.South-Apulia,.South-Apulia
91,92.South-Apulia,1,3,1273,191,202,6862,1303,43,70,28,92.South-Apulia,.South-Apulia
92,93.South-Apulia,1,3,1463,183,183,6747,1307,36,60,24,93.South-Apulia,.South-Apulia
93,94.South-Apulia,1,3,1399,187,191,6861,1233,38,60,17,94.South-Apulia,.South-Apulia
94,95.South-Apulia,1,3,1413,193,208,6875,1202,30,60,18,95.South-Apulia,.South-Apulia
95,96.South-Apulia,1,3,1369,206,203,6953,1168,35,50,16,96.South-Apulia,.South-Apulia
96,97.South-Apulia,1,3,1488,172,170,6920,1144,37,54,14,97.South-Apulia,.South-Apulia
97,98.South-Apulia,1,3,1323,160,205,6911,1298,24,50,17,98.South-Apulia,.South-Apulia
98,99.South-Apulia,1,3,1311,166,170,6902,1312,41,69,28,99.South-Apulia,.South-Apulia
99,100.South-Apulia,1,3,1286,163,183,7040,1230,29,57,12,100.South-Apulia,0.South-Apulia

In [182]:
df['sub_region_desc'] = df['sub_region_desc'].str.replace(r'[0-9]+\.', "")

In [183]:
df.head(100)

,sub_region_desc,region,sub_region,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw,new_sub_region_desc
0,North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia,North-Apulia
1,North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia,North-Apulia
2,North-Apulia,1,1,911,54,246,8113,549,31,63,29,3.North-Apulia,North-Apulia
3,North-Apulia,1,1,966,57,240,7952,619,50,78,35,4.North-Apulia,North-Apulia
4,North-Apulia,1,1,1051,67,259,7771,672,50,80,46,5.North-Apulia,North-Apulia
5,North-Apulia,1,1,911,49,268,7924,678,51,70,44,6.North-Apulia,North-Apulia
6,North-Apulia,1,1,922,66,264,7990,618,49,56,29,7.North-Apulia,North-Apulia
7,North-Apulia,1,1,1100,61,235,7728,734,39,64,35,8.North-Apulia,North-Apulia
8,North-Apulia,1,1,1082,60,239,7745,709,46,83,33,9.North-Apulia,North-Apulia
9,North-Apulia,1,1,1037,55,213,7944,633,26,52,30,10.North-Apulia,North-Apulia
10,North-Apulia,1,1,1051,35,219,7978,605,21,65,24,11.North-Apulia,North-Apulia
11,North-Apulia,1,1,1036,59,235,7868,661,30,62,44,12.North-Apulia,North-Apulia
12,North-Apulia,1,1,1074,70,214,7728,747,50,79,33,13.North-Apulia,North-Apulia
13,North-Apulia,1,1,875,52,243,8018,655,41,79,32,14.North-Apulia,North-Apulia
14,North-Apulia,1,1,952,49,254,7795,780,50,75,41,15.North-Apulia,North-Apulia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,South-Apulia,1,3,1384,178,208,7105,999,29,67,26,86.South-Apulia,South-Apulia
86,South-Apulia,1,3,1412,185,217,6842,1203,34,72,32,87.South-Apulia,South-Apulia
87,South-Apulia,1,3,1410,232,280,6715,1233,32,60,24,88.South-Apulia,South-Apulia
88,South-Apulia,1,3,1509,209,257,6647,1240,42,62,30,89.South-Apulia,South-Apulia
89,South-Apulia,1,3,1317,197,256,7036,1067,40,60,22,90.South-Apulia,South-Apulia
90,South-Apulia,1,3,1286,192,203,7132,1053,38,65,28,91.South-Apulia,South-Apulia
91,South-Apulia,1,3,1273,191,202,6862,1303,43,70,28,92.South-Apulia,South-Apulia
92,South-Apulia,1,3,1463,183,183,6747,1307,36,60,24,93.South-Apulia,South-Apulia
93,South-Apulia,1,3,1399,187,191,6861,1233,38,60,17,94.South-Apulia,South-Apulia
94,South-Apulia,1,3,1413,193,208,6875,1202,30,60,18,95.South-Apulia,South-Apulia
95,South-Apulia,1,3,1369,206,203,6953,1168,35,50,16,96.South-Apulia,South-Apulia
96,South-Apulia,1,3,1488,172,170,6920,1144,37,54,14,97.South-Apulia,South-Apulia
97,South-Apulia,1,3,1323,160,205,6911,1298,24,50,17,98.South-Apulia,South-Apulia
98,South-Apulia,1,3,1311,166,170,6902,1312,41,69,28,99.South-Apulia,South-Apulia
99,South-Apulia,1,3,1286,163,183,7040,1230,29,57,12,100.South-Apulia,South-Apulia

In [186]:
srd_unique = set(df.sub_region_desc.unique())

In [187]:
srd_unique

{'Calabria',
 'Coast-Sardinia',
 'East-Liguria',
 'Inland-Sardinia',
 'North-Apulia',
 'Sicily',
 'South-Apulia',
 'Umbria',
 'West-Liguria'}

In [188]:
srd_unique = df.sub_region_desc.unique()
set(srd_unique)

{'Calabria',
 'Coast-Sardinia',
 'East-Liguria',
 'Inland-Sardinia',
 'North-Apulia',
 'Sicily',
 'South-Apulia',
 'Umbria',
 'West-Liguria'}